.s_tbdr{
border: 1px dashed blue;
}
header{
  height: 107px;
  border: 1-x dashed #0000;
  background-color: rgb(226, 43, 171);
}
main{
  height: 850px;
  border: 1px dashed #000;
  background-color: aliceblue;
}
footer{
  height: 75px;
  border: 1px dashed #000;
  background-color: blue;
}